<% include ../layout/header.ejs %>

<div class="main">
  <div class="container">
    <div class="content">
      <% if(!user.id && !user.login) { %>

      <div class="post">
        <div class="top">
          <h2>
            "MyMoney" поможет вам ответить на один из самых часто задаваемых
            вопросов: "Куда деваются деньги?"
          </h2>
        </div>
        <div class="body">
          <p>
            Удивительно, деньги заканчиваются быстро, но ведь никаких серьезных
            трат не производилось... Куда же они ушли? Это вы сразу поймете, как
            только начнете вести учет расходов. Таким образом, вы будете всегда
            в курсе того, какие расходы были лишними. Чаще всего деньги уходят
            по мелочи на обед в кафе/ресторане, покупку ненужных продуктов,
            различных безделушек и так далее. Об этих тратах вы забудете на
            следующий день и никогда не поймете, что они могут отнимать до 50%
            доходов, если не будете вести учет расходов. Из этого следует важный
            вывод: ведение учета расходов позволит существенно сэкономить, а
            сбереженные деньги потратить на что-нибудь более полезное.
          </p>
        </div>
        <!--
          <div class="bottom">
            <div class="author">
              Разработчик: <a href="http://vk.com/id131840592">Кабачук Денис</a>
            </div>
          </div>
        -->
      </div>

      <% } else { %> <% for (var i = 0; i < posts.length; i++) { %>
      <!--
        <div class="post">
          <div class="top">
            <h2>
              <a href="/posts/<%=posts[i].url %>"> <%=posts[i].title %> </a> <% if
              (posts[i].owner.login === user.login) { %>
              <a
                style="color:black; text-decoration: none;"
                href="/post/edit/<%=posts[i].id %>"
                >✎</a
              >
              <% } %>
            </h2>
          </div>
          <div class="body"><%- posts[i].body %></div>
          <div class="bottom">
            <div class="author">
              Автор:
              <a href="/users/<%=posts[i].owner.login %>">
                <%=posts[i].owner.login %>
              </a>
            </div>
            <a href="/posts/<%=posts[i].url %>#<%=posts[i].id %>">
              Комментарии: <%=posts[i].commentCount %>
            </a>
          </div>
        </div>
        <% } %>

        <div class="pagination">
          <% if (current > 2) { %>
          <a class="new" href="/archive/<%= Number(current) - 1 %>">← К новым</a>
          <% } %> <% if (current == 2) { %>
          <a class="new" href="/users/<%= _user.login %>">← На главную</a> <% } %>
          <% if (pages > 0 && current < pages) { %>
          <a class="old" href="/archive/<%= Number(current) + 1 %>">К старым →</a>
          <% } %>
        </div>
      -->

      <% } %>
    </div>

    <% include ../layout/sidebar.ejs %>
  </div>
</div>

<% include ../layout/footer.ejs %>
